<%- include("./partials/top.ejs") %>

    <div class="app-container">
        <form method="post" class="frm">
            <div class="frm-top">
                <input name="location" type="text" class="location-input" id="location" placeholder="Enter Location Here...">
                <button type="submit" class="btn" formaction="/location-info">Search</button>
            </div>
            <button class="btn toggle" formaction="/toggle-unit">Toggle Units</button>  
        </form>
        <hr class="hr-top"/>
        <div class="output-container">

            <% if (locals.error) { %>
             <h1>Something went wrong: <%= error %></h1>
            <% } else { %>
                <% if (locals.data) { %>
                    <div class="output">
                        <div class="description">
                            <p class="description-text">Condition:</p>
                            <img src=<%= `https://openweathermap.org/img/wn/${data.weather[0].icon}.png` %> class="output-img img-special">
                        </div>
                        <p class="output-text" aria-roledescription="Weather Condition"><%= data.weather[0].main %></p>
                    </div>
                    <div class="output">
                        <div class="description">
                            <p class="description-text">Humidity:</p>
                            <img src="/images/humidity.svg" class="output-img">
                        </div>
                        <p class="output-text" aria-roledescription="Weather humidity"><%= data.main.humidity %>%</p>
                    </div>
                    <div class="output">
                        <div class="description">
                            <p class="description-text">Wind Speed:</p>
                            <img src="/images/wind_speed.svg" class="output-img">
                        </div>
                        <p class="output-text"><%= data.wind.speed %><%= unit ? "Mtrs/s" : "Mls/s"  %></p>
                    </div>
                    <hr class="hr-bottom">
                    <div class="output">
                        <img src="/images/thermometer.svg" class="output-img thermometer">
                        <p class="output-text min temp">MIN: <%= data.main.temp_min %><%= unit ? "°C" : "°F" %></p>
                        <p class="output-text temp">-<strong><%= data.main.temp %><%= unit ? "°C" : "°F" %></strong>-</p>
                        <p class="output-text max temp">MAX: <%= data.main.temp_max %><%= unit ? "°C" : "°F" %></p>
                        
                    </div>              
                <% } else { %>
                    <h1>Please insert a location to display the weather on</h1>
                <% } %>
            <% } %>
        </div>
    </div>

<%- include("./partials/bottom.ejs") %>